.dashboard-page {
	background-color: #F8FAFD;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.left-pane {
	position: relative;
	padding: 12px 20px;
	background-color: #e9eef6;
}

.right-pane {
	padding: 18px 0 0 20px;
	flex: 1;
	background-color: #F8FAFD;
	color: black;
	display: flex;
	flex-direction: column;
	padding-right: 15px;
	gap: 30px;
}